<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

		<appSettings>
			<add key="pathSourceNewPhoto" value="C:\Users\Vitali\Desktop\Foto Scout x cartolina - Copy" />
			<add key="pathSourceAlbumPhoto" value="C:\Users\Vitali\Desktop\Foto Scout x cartolina" />
      <add key="doNotShowUpperAndEqualThanUpperLimit" value="true" />
      <add key="upperLimitPercentage" value="99" />
      <add key="doNotShowLowerThanLowerLimit" value="true" />
      <add key="lowerLimitPercentage" value="60" />
		</appSettings>
</configuration>