<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="pathSourceNewPhoto" value="C:\Users\MM\Desktop\1" />
		<add key="pathSourceAlbumPhoto" value="C:\Users\MM\Desktop\2" />
		<add key="doNotShowUpperAndEqualThanUpperLimit" value="true" />
		<add key="upperLimitPercentage" value="99" />
		<add key="doNotShowLowerThanLowerLimit" value="true" />
		<add key="lowerLimitPercentage" value="60" />
	</appSettings>
	
</configuration>